{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ project.project_name }} {% endblock %}</title>
</head>
<body>
    {% block content %}

        <div class="navbar ">
            <div class="title-black float-left" >
                <h3>{{ project.project_name }}</h3>
            </div>
            <div class="title-black float-right" >
{#                <h5><a href="{% url 'download' project.project_name 'data.csv' %}" download >CSV File</a></h5>#}
                {% if project.csv_file %}
                    <a href="{{ project.csv_file.url}}" class="btn btn-primary btn-sm" target="_blank">Download </a>
                {%  else %}
                    <h1> Still Processing </h1>
                    <a href="{% url 'generate' project.project_name %}" class="btn btn-primary btn-sm">Generate Analytics</a>
                {% endif %}
            </div>
        </div>

    {% endblock %}

</body>
</html>